/zenpoller/config.yml
/.env
/backup-restore/backupbtrfs_files.txt
/backup-restore/backupbtrfs.conf
/plex-scripts/scanfolder.conf
/backup-restore/plexstandard_restore.conf
/config.conf
/.preinstall
*.DS_store