[Unit]
Description=ZenStorage Mount
After=network-online.target
[Service]
Type=notify
User=root
Group=root
ExecStartPre=-/usr/bin/sudo /bin/mkdir -p /mnt/sharedrives/zd-storage
ExecStartPre=-/usr/bin/sudo /bin/chmod -R 775 /mnt/sharedrives/zd-storage
ExecStartPre=-/usr/bin/sudo /bin/chown -R root:root /mnt/sharedrives/zd-storage
ExecStartPre=/bin/sleep 10
ExecStartPost=/opt/scripts/primeunion.sh
ExecStart=/usr/bin/rclone mount \
  --config=/root/.config/rclone/rclone.conf \
  --allow-other \
  --allow-non-empty \
  --async-read=false \
  --s3-disable-http2 \
  --s3-chunk-size=256M \
  --log-file=/var/log/rclone-union.log \
  --rc \
  --rc-addr=localhost:5590 \
  --buffer-size=256M \
  --dir-cache-time=6000h \
  --attr-timeout=6000h \
  --timeout=15s \
  --umask=002 \
  zenstorage: /mnt/sharedrives/zd-storage
TimeoutStartSec=900
ExecStop=/bin/fusermount -uz /mnt/sharedrives/zd-storage
Restart=on-abort
RestartSec=5
StartLimitInterval=4m
StartLimitBurst=3
[Install]
WantedBy=default.target
