[Unit]
Description=ZenStorage Mount
After=network-online.target
[Service]
Type=notify
User=root
Group=root
ExecStartPre=-/usr/bin/sudo /bin/mkdir -p /mnt/sharedrives/zd-storage-metadata
ExecStartPre=-/usr/bin/sudo /bin/chmod -R 775 /mnt/sharedrives/zd-storage-metadata
ExecStartPre=-/usr/bin/sudo /bin/chown -R root:root /mnt/sharedrives/zd-storage-metadata
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount \
  --config=/root/.config/rclone/rclone.conf \
  --allow-other \
  --allow-non-empty \
  --rc-no-auth \
  --async-read=false \
  --s3-disable-http2 \
  --log-file=/var/log/rclone-union.log \
  --rc \
  --rc-addr=localhost:5591 \
  --vfs-read-chunk-size=64M \
  --vfs-read-chunk-size-limit=off \
  --buffer-size=64M \
  --dir-cache-time=6000h \
  --attr-timeout=0 \
  --timeout=10m \
  --umask=002 \
  --no-checksum \
  zenstorage-metadata: /mnt/sharedrives/zd-storage-metadata
ExecStop=/bin/fusermount -uz /mnt/sharedrives/zd-storage-metadata
Restart=on-abort
RestartSec=5
StartLimitInterval=4m
StartLimitBurst=3
TimeoutStartSec=900
[Install]
WantedBy=default.target
