[Unit]
Description=MergerFS Mount
After=network-online.target zd-storage.service zd-tv.service

[Service]
Type=forking
GuessMainPID=no
ExecStartPre=-/usr/bin/sudo /bin/mkdir -p /mnt/unionfs
ExecStartPre=-/usr/bin/sudo /bin/chmod -R 775 /mnt/unionfs
ExecStartPre=-/usr/bin/sudo /bin/chown -R root:root /mnt/unionfs
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/mergerfs \
  -o category.create=ff,async_read=false \
  -o dropcacheonclose=true,use_ino,minfreespace=0 \
  -o xattr=nosys,statfs_ignore=ro,allow_other,umask=002,noatime \
  /mnt/local/=RW:/mnt/sharedrives/zd-storage-metadata/zd-*=RO:/mnt/sharedrives/zd-storage-small/zd-*=RO:/mnt/sharedrives/zd-storage/zd-*=RO /mnt/unionfs
ExecStop=/bin/fusermount -u /mnt/unionfs
[Install]
WantedBy=default.target
